// #image{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
// body{
//     background-color: black;
// }
// #header{
//     height: 100px;
//    text-align: center;
//    color: white;
// }
// #tryagain{
//    margin: 0;
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    -ms-transform: translate(-50%, -50%);
//    transform: translate(-50%, -50%);
//    padding: 5px;
// }
// #content{
//     height: 100%;
//     margin-top: 50x;
// }
body {
    background-color: gray;
}

.mainbox {
    background-color: gray;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.fa-question-circle {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}