 <div class="card container mt-3" *ngFor="let product of userCart">
        <div class="row no-gutters">
        <div class="col-md-5 col-lg-3 col-xl-3">
           <img src = "{{product.productPic}}" style='width:150px'>
          </div>

          <div class="col-4">


            <div class="card-body">

              <h2 class="card-title border-bottom"> {{product.productname}}</h2>


            </div>

          </div>
          <div class="  card-body float-right ">


                  <h1 class=" ">{{product.productPrice}}$ </h1>
                  <!-- <label class="card-text">Quantity:</label>
                  <input type="number" class="form-control" id="quantity" aria-describedby="number" value="{{product.quantity}}"> -->
                    <!-- <button class="btn btn-warning mt-3 " (click)= "card()" id="cart"> <i class="fa fa-cart-plus" ></i>
                     Add To Card</button> -->

            </div>

        </div>
      <div class="card-body d-flex justify-content-end">
        <div class="stepper-input stepper__input">
          <button class="toggle-less" (click)="toggleLess(product)">
            <img src="assets/minus.svg" [attr.alt]="ariaLabelLess" />
          </button>
          <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
            {{product.quantity}}
          </div>
          <button class="toggle-more" (click)="toggleMore(product)">
            <img src="assets/plus.svg" [attr.alt]="ariaLabelMore" />
          </button>
        </div>
     

      </div>


 </div>

    <div class="card container mt-3 bg-light " >
      <div class="card-body d-flex justify-content-end">
        <strong>
          <h2>
            Total : ${{total}}
          </h2>

        </strong>
 </div>
 </div>



  <!-- <div class="card" style="width: 18rem;" *ngFor="let product of userCart">
    <img class="card-img-top" src="{{product.productPic}}" alt="Card image cap">
    <div class="card-body">
        <hr>
      <h2 class="card-title">{{product.productname}}</h2>
     <b> <p class="card-text" style="color: red;">{{product.productPrice}}$</p></b>
     <button class="btn float-right"> <i class="fa fa-trash text-warning fa-3x" (click)= "card()" id="cart"></i> </button>
      <a href="#" class="btn btn-primary  mt-3">Details</a>
    </div>
  </div>  -->


