
<div *ngIf="products; else loadingTemplate">

    <div class="card container mt-3" *ngFor="let product of products">
      <div class="row no-gutters">
        <div class="float left">
         <img  class="border-0"src = "{{product.ProductPicUrl}}">
        </div>

           <div class=" card border-0  d-flex justify-content-between"style='width:400px'>



          <div class="card-body">

            <h2 class="card-title"> {{product.Name}}</h2>
            <h3 class="text-danger">Description:</h3>
            <p class="card-text "> {{product.Description}}</p>

          </div>

        </div>
    <div class="card d-flex justify-content-end mt-4 "style='height:300px'>
            <div class="card-body">
            <h5 class="card-title text-success border-bottom"><medium class="text-muted">Availabilty:</medium>{{product.Status}}</h5>
                <h1 class="card-text ">${{product.Price}} </h1>
                <label class="card-text"  *ngIf="!cart.isInCart(product)">Quantity:</label>
                <div class="input-group">
                  <input type="number" class="form-control"  name="quantity" *ngIf="!cart.isInCart(product)"
                  [(ngModel)]="quantity"
                  >


                </div>

                  <button class="btn btn-warning mt-3 " (click)= "cart.cart(product,quantity)" id="cart"  *ngIf="!cart.isInCart(product)"> <i class="fa fa-cart-plus" ></i>
                   Add To Cart</button>
                   <button class="btn btn-danger mt-3 mr-45 " (click) ="cart.deleteFromCart(product)" *ngIf="cart.isInCart(product)">
                    <i class="fa fa-cart-plus" ></i>
                  Delete From Cart
                  </button>
            </div>
          </div>

      </div>

    </div>
    <div *ngIf="products.length == 0">

<div class="body">
  <div class="mainbox ">
    <div class="err">4</div>
    <i class="fa fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg"><h2>Not found</h2><p>Let's go <a [routerLink]="['/products']">home</a> and try from there.</p></div>
      </div>
      </div>
    </div>


</div>

    <ng-template #loadingTemplate> Loading... </ng-template>
    <ng-template #content>

    </ng-template>
