<div class="card mt-4 offset-md-4 border border-primary" style="width: 30rem">
  <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)">
    <h2 class="card-header bg-primary">Login</h2>
    <tr>
      <div class="form-group mt-4 ml-1 row">
        <td>
          <label class="font-weight-bold col-4"> Name: </label>
          <input type="text" formControlName="name" class="col-8" />
        </td>
      </div>
    </tr>
    <div
      class="alert alert-danger p-1 mt-1"
      *ngIf="
        loginForm.get('name').hasError('required') &&
        loginForm.get('name').dirty
      "
    >
      Name is Required
    </div>
    <div
      class="alert alert-danger p-1 mt-1"
      *ngIf="
        loginForm.get('name').hasError('minlength') &&
        loginForm.get('name').dirty
      "
    >
      Name must be at least 3 chararcters
    </div>
    <tr>
      <div class="form-group mt-4 ml-1 row">
        <td>
          <label class="font-weight-bold col-4"> password: </label>

          <input type="password" formControlName="password" class="col-8" />
        </td>
      </div>
    </tr>
    <div
      class="alert alert-danger p-1 mt-1"
      *ngIf="
        loginForm.get('password').hasError('required') &&
        loginForm.get('password').dirty
      "
    >
      Password is Required
    </div>
    <div class="d-flex justify-content-lg-center">
      <input
        class="btn btn-outline-primary mb-4"
        type="submit"
        value="login"
        [disabled]="!loginForm.valid"
      />
    </div>
  </form>
</div>
