<!--
<div *ngIf="product; else loadingTemplate">

<div class="card container mt-3 " >
  <div class="row no-gutters">
    <div class="float left">
     <img  class=" border-0" src = "{{product.ProductPicUrl}}">
    </div>

    <div class=" card border-0  d-flex justify-content-between"style='width:400px'>


      <div class="card-body ">

        <h2 class="card-title"> {{product.Name}}</h2>
        <h3 class="text-danger">Description:</h3>
        <p class="card-text "> {{product.Description}}</p>

      </div>

    </div>
    <div class="card d-flex justify-content-end mt-4 "style='height:300px'>
        <div class="card-body ">
        <h5 class="card-title text-success border-bottom"><medium class="text-muted">Availabilty:</medium>{{product.Status}}</h5>
            <h1 class="card-text ">${{product.Price}} </h1>
            <label class="card-text">Quantity:</label>
            <input type="number" class="form-control" id="quantity" name="productQuantity" [(ngModel)]="productQuantity" >
            <button class="btn btn-warning mt-3 " (click)= "cart.cart(product,productQuantity)" id="cart"  *ngIf="!cart.isInCart(product)"> <i class="fa fa-cart-plus" ></i>
              Add To Card</button>
              <button class="btn btn-danger mt-3 " (click) ="cart.deleteFromCart(product)" *ngIf="cart.isInCart(product)"> 
               <i class="fa fa-cart-plus" ></i>
              Delete From Cart
             </button>
        </div>
      </div>

  </div>

</div>
</div>

<ng-template #loadingTemplate> Loading... </ng-template> -->

<div *ngIf="product; else loadingTemplate">
  <div class="card container mt-3">
    <div class="row no-gutters">
      <div class="col-5">
        <img class="border-right" src="{{ product.ProductPicUrl }}" />
      </div>

      <div class="col-4">
        <div class="card-body">
          <h2 class="card-title">{{ product.Name }}</h2>
          <h3 class="text-danger">Description:</h3>
          <p class="card-text">{{ product.Description }}</p>
        </div>
      </div>
      <div class="card float-right">
        <div class="card-body">
          <h5 class="card-title text-success border-bottom">
            <medium class="text-muted">Availabilty:</medium>{{ product.Status }}
          </h5>
          <h1 class="card-text">${{ product.Price }}</h1>
          <label class="card-text">Quantity:</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            aria-describedby="number"
          />
          <button class="btn btn-warning mt-3" (click)="card()" id="cart">
            <i class="fa fa-cart-plus"></i> Add To Card
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate> Loading... </ng-template>
