<div class="container ">
  <div class="card mb-4" style="width: 18rem">
    <!-- <div class="container">
  <div class="card" style="width: 18rem"> -->
    <img
      class="card-body" style="height:14rem"
      src="{{ product.ProductPicUrl }}"
      alt="Card image cap"
    />
    <div class="card-body">
      <hr />
      <h2 class="card-title">{{ product.Name }}</h2>
      <b>
        <p class="card-text" style="color: red">{{ product.Price }}$</p></b
      >
      <button class="btn float-right">
        <i
          class="fa fa-cart-plus text-warning fa-3x"
          (click)="cart.cart(product, 1)"
          id="cart"
          *ngIf="!cart.isInCart(product); else content"
        ></i>
      </button>
      <li [routerLink]="[product.ProductId]" class="btn btn-primary mt-3">
        Details
      </li>
    </div>
  </div>
</div>
<ng-template #content>

  <button class="btn float-right">
    <i
       class="fa fa-times-circle text-danger fa-2x"

      (click)="cart.deleteFromCart(product)"
    ></i>
  </button>
</ng-template>
